<%- include('./partials/header.ejs')%>
<body>
  <%- include('./partials/navbar.ejs')%>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h1>Fazer pergunta</h1>
      </div>
      <div class="card-body">
        <form action="/salvarpergunta" method="POST">
          <div class="form-group">
            <label for="">Titulo</label>
            <input type="text" class="form-control" name="titulo">
          </div>
          <div class="form-group">
            <label for="">Descrição</label>
            <textarea name="descricao" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-success">Perguntar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('./partials/footer.ejs')%>
